/*****harvey*****/
/* #harvey(headerco89zzc25hp) #css starts  */
.headerco89zzc25hp .logo{
    max-height: 35px
}
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link {
    color: #3B3B3B
}
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link:hover {
    color: #2E21DF
}
.headerco89zzc25hp .RegBtn{
    font-weight: bold;
    background-color: #2E21DF;
    color: #fff
}
/* #harvey(headerco89zzc25hp) #css ends  */
/*****harvey*****/

/*****apo*****/
/* #apo(ab8dfbbd4bed) #css starts  */
.aboutab8dfbbd4bed{
    padding: 4.5rem 0px;
}
.aboutab8dfbbd4bed .description{
    font-size: 44px;
    color: #3B3B3B;
    font-weight: 600
}
.aboutab8dfbbd4bed .para{
    font-size: 20px
}
.aboutab8dfbbd4bed .Explore{
    background-color: #3B3B3B;
    padding: 16px;
    border: none;
    border-radius: 0px
}
/* #apo(ab8dfbbd4bed) #css ends  */
/*****apo*****/

/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 4.5rem 0
}
.fayete8bna5e4lc h2 {
    font-size: 18px;
    font-weight: 600
}

.fayete8bna5e4lc    .fdb-block .fdb-box {
    padding: 2.75rem 2.5rem
     }

     .fayete8bna5e4lc    .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #2E21DF
     }
     .fayete8bna5e4lc  a {
    color: #33363D;
    font-weight: 600
     }
     .fayete8bna5e4lc  a:hover {
        color: #2E21DF;
        font-weight: 600
         }
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****tamzin*****/ 
/* #tamzin(teamtmo0iuz3mdx) #css starts */
.teamtmo0iuz3mdx .fdb-block {
    padding: 1.5rem 0;
   }
   .teamtmo0iuz3mdx h1{
    font-size: 32px
}
    .teamtmo0iuz3mdx h4 {
        font-size: 20px
        }
/* #tamzin(teamtmo0iuz3mdx) #css ends */
/*****tamzin*****/

/*****regin*****/ 
/* #regin(h222fa673a781ab9e) #css starts */
.registrationh222fa673a781ab9e h2{
    font-size: 32px;
    font-weight: 600
}

.registrationh222fa673a781ab9e p {
    font-size: 20px
}
  .registrationh222fa673a781ab9e .btn-round{
   display: none;
  }
  .registrationh222fa673a781ab9e .small{
    font-size: 14px !important
}
.registrationh222fa673a781ab9e .btn-dark {
    color: #fff;
    background-color: #33363D;
    border-color: #33363D
}
  /* #regin(h222fa673a781ab9e) #css ends */
/*****regin*****/ 