/*****harvey*****/
/* #harvey(headerco89zzc25hp) #css starts  */
.headerco89zzc25hp .logo{
    max-height: 35px
}
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link {
    color: #3B3B3B
}
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link:hover {
    color: #2E21DF
}
.headerco89zzc25hp .RegBtn{
    font-weight: bold;
    background-color: #2E21DF;
    color: #fff
}
/* #harvey(headerco89zzc25hp) #css ends  */
/*****harvey*****/

/*****apo*****/
/* #apo(ab8dfbbd4bed) #css starts  */
.aboutab8dfbbd4bed{
    padding: 4.5rem 0px;
}
.aboutab8dfbbd4bed .description{
    font-size: 44px;
    color: #3B3B3B;
    font-weight: 600
}
.aboutab8dfbbd4bed .para{
    font-size: 20px
}
.aboutab8dfbbd4bed .Explore{
    background-color: black;
    padding: 16px;
    border: none;
    border-radius: 0px
}
/* #apo(ab8dfbbd4bed) #css ends  */
/*****apo*****/

/*****caden*****/
    /* #caden(c724c807cc8b8e9ab) #css starts  */

    .clientsc724c807cc8b8e9ab {
      
    }
    /* #caden(c724c807cc8b8e9ab) #css ends  */
/*****caden*****/